body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: hidden;
}

.loading-container {
    height: 100vh;
    width: 100%;
    background-image: url("./images/ganesh-clipart.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-350px) scale(2);
    transition: transform 1s ease-in-out;
}

.loading-text {
    font-family: "Playwrite HU", sans-serif;
    font-size: 2em;
    color: #ce772a;
    -webkit-text-stroke: 0.01px #241100;
    margin-bottom: 20px;
    animation: pulse 1.5s infinite;
}


.bappa-feet {
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 60px;
}

.bappa-feet:hover {
    transform: scale(1.1);
}

.main-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;               
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 5;
    transform: scale(0);         
    opacity: 0;                  
    pointer-events: none;        
    /* transition: transform 1s ease-in-out, opacity 1s ease-in-out; */
}

.main-content.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.ganpati-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ganpati-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    animation: zoomIn 1.5s forwards;
    pointer-events: none;
}

 @keyframes zoomIn {
    from { transform: scale(0.1); }
    to { transform: scale(1); }
} 

.hand-button {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.297);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.main-content.active .hand-button {
    opacity: 1;
}

.hand-1 { top: 32%; left: 32%; }
.hand-2 { top: 32%; right: 32%; }
.hand-3 { bottom: 30%; left: 36%; }
.hand-4 { bottom: 25%; right: 32%; }
